<div class="container py-4">
    <% if flash.any? %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:error] %>
        </div>
    <% end %>

    <div class="d-flex justify-content-between align-items-baseline">
        <%= link_to '◄ All Lists', lists_path, class: "h4 text-decoration-none flex-shrink-0" %>

        <div class="d-flex flex-column align-items-center">
            <h2><%= @list.name %></h2>
            <% if @list.description && !@list.description.blank? %>
                <span class="lead text-muted text-center text-break px-5"><%= @list.description %></span>
            <% end %>
        </div>

        <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Edit', "", class: "dropdown-item", data: { toggle: "modal", target: "#viewListModal" } %>
                <%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
            </div>
        </div>
    </div>

    <hr class="mt-1" />

    <% if @list.tasks.length() == 0 %>
        <div class="jumbotron bg-light mb-0">
            <h4 class="text-muted text-center">You have no tasks</h4>
        </div>
    <% else %>
        <h4>Tasks</h4>
        <%= render "tasks/group", list: @list %>
    <% end %>

    <%= link_to "+ New Task", "", class: "btn btn-link btn-sm text-decoration-none mt-1", data: { toggle: "modal", target: "#newTaskModal" } %>
</div>

<%= render "tasks/modal", id: "newTaskModal", existing: false, list: @list, task: Task.new %>
<%= render "modal", id: "viewListModal", existing: true, list: @list %>
