<div class="container py-4">
    <h1>Your Tasks</h1>
    
    <% @lists.each do |list| %>
        <div class="card shadow-sm my-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h3 class="card-title"><%= link_to list.name, list_path(list), class: "text-decoration-none" %></h3>
                    <h5 class="text-muted"><%= (list.tasks.select { |t| t.completed? }.length().to_f / list.tasks.length().to_f * 100).to_i %>% Complete</h5>
                </div>
                <hr class="mt-0" />

                <%= render "tasks/group", list: list %>

                <button type="button" class="btn btn-link btn-sm text-decoration-none mt-1" data-toggle="modal" data-target="#newTaskModal<%= list.id %>">
                    + New Task
                </button>
            </div>
        </div>

        <%= render "modal", id: "newTaskModal#{list.id}", existing: false, list: list, task: Task.new %>
    <% end %>
</div>
