<div class="container py-4">
    <h1>Your Tasks</h1>
    <hr/>

    <% if flash.any? %>
        <div class="alert alert-danger" role="alert">
            <%= flash[:error] %>
        </div>
    <% end %>

    <% if @lists.length == 0 && @unlisted_tasks.length == 0 %>
        <div>
            <div class="d-flex flex-column justify-content-center jumbotron bg-light mb-0">
                <h4 class="text-muted text-center">You have no tasks</h4>
                <%= link_to "+ New Task", "", class: "btn btn-link text-decoration-none mt-1", data: { toggle: "modal", target: "#newTaskModal" } %>
            </div>
        </div>

        <%= render "modal", id: "newTaskModal", existing: false, list: nil, task: Task.new %>
    <% else %>
        <div class="card shadow-sm my-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline">
                    <h3 class="card-title">Uncategorized</h3>
                    <% if @unlisted_tasks.length == 0 %>
                        <h5 class="text-muted">0% Complete</h5>
                    <% else %>
                        <h5 class="text-muted"><%= (@unlisted_tasks.select { |t| t.completed? }.length.to_f / @unlisted_tasks.length.to_f * 100).to_i %>% Complete</h5>
                    <% end %>
                </div>
                <hr class="mt-0" />

                <%= render "tasks/group", tasks: @unlisted_tasks, list: nil %>
                <%= link_to "+ New Task", "", class: "btn btn-link btn-sm text-decoration-none mt-1", data: { toggle: "modal", target: "#newTaskModal" } %>
            </div>
        </div>

        <%= render "modal", id: "newTaskModal", existing: false, list: nil, task: Task.new %>

        <% @lists.each do |list| %>
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <h3 class="card-title"><%= list.name %></h3>
                        <h5 class="text-muted"><%= list.percent_complete %>% Complete</h5>
                    </div>
                    <hr class="mt-0" />

                    <%= render "tasks/group", list: list %>
                    <%= link_to "+ New Task", "", class: "btn btn-link btn-sm text-decoration-none mt-1", data: { toggle: "modal", target: "#newTaskModal#{list.id}" } %>
                </div>
            </div>

            <%= render "modal", id: "newTaskModal#{list.id}", existing: false, list: list, task: Task.new %>
        <% end %>
    <% end %>
</div>
